<!DOCTYPE html>
<html>
  <head>
    <title>Wonderschool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <#%= asset_pack_path 'images/Completed.svg' %> -->
    <%= include_gon %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag 'index' %>
</html>
